@import 'theme/reveal';

@import 'theme/source/default';
// @import 'theme/source/gdicool';
@import 'theme/source/gdilight';
// @import 'theme/source/gdisunny';

@import '../plugins/highlight/styles/github-gist.css';

.reveal {
  .text-white {
    color: white;
  }

  .text-black {
    color: black;
  }

  li {
    margin-bottom: 12px;
  }

  pre > code {
    background: transparent;
    color: rgb(51, 51, 51);
    font-family: monospace;
    font-weight: 400;
  }
}
